@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$button:hsl(322, 100%, 66%);
$font:hsl(208, 11%, 55%);
$title:hsl(192, 100%, 9%);
$header-font:hsl(192, 100%, 9%);
$hover:hsl(193, 100%, 96%);