@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bai Jamjuree", "arial";
}

body {
  min-height: 100vh;
}

.title-color {
  color: hsl(210, 10%, 33%);
}

.description-color {
  color: hsl(208, 17%, 85%);
}

.button-1 {
  width: 200px;
  background-color: hsl(171, 66%, 44%);
  color: white;
  padding: 10px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}
.button-1:hover {
  transition: 0.5s all;
  background-color: hsl(202, 55%, 87%);
}

.button-2 {
  width: 200px;
  background-color: hsl(233, 100%, 69%);
  color: white;
  padding: 10px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}
.button-2:hover {
  transition: 0.5s all;
  background-color: hsl(202, 55%, 87%);
}

header {
  width: 100%;
  padding: 25px;
  text-align: center;
  background-image: url(../images/bg-header-desktop.png);
  background-position: center right;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
header .title-content {
  width: 550px;
  padding: 15px;
}
header .title-content h1 {
  font-weight: 700;
}
header .title-content .description-1 {
  font-weight: 500;
  margin-top: 5px;
}
header .button-area {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 5px;
}

.area-1 {
  width: 100%;
  padding: 70px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.area-1 .content-1 {
  max-width: 655px;
  text-align: center;
  margin: 20px auto;
  padding: 20px;
}
.area-1 .content-1 h2 {
  font-weight: bold;
}
.area-1 .content-1 .paragraph-1 {
  line-height: 1.5rem;
  margin-top: 3vh;
}
.area-1 .computer-area {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
}
.area-1 .computer-area .img-computer {
  margin-left: -20%;
}
.area-1 .computer-area .info-area {
  max-width: 500px;
}
.area-1 .computer-area .info-area .info {
  margin-top: 10vh;
  width: 400px;
}
.area-1 .computer-area .info-area .info h3 {
  font-weight: 600;
}
.area-1 .computer-area .info-area .info .paragraph-2 {
  line-height: 1.5rem;
  margin-top: 1vh;
}

.area-2 {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.area-2 .content-2 {
  max-width: 655px;
  text-align: center;
  padding: 20px;
}
.area-2 .content-2 .paragraph-3 {
  line-height: 1.5rem;
  margin-top: 3vh;
}
.area-2 .img-area-2 {
  margin-top: 5vh;
}

.area-3 {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.area-3 .content-3 {
  text-align: center;
  width: 100%;
}
.area-3 .content-3 .title-2 {
  font-weight: 600;
}
.area-3 .content-3 .paragraph-4 {
  margin-top: 3vh;
}
.area-3 .info-content {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  margin-top: 10vh;
}
.area-3 .info-content .info2 {
  max-width: 360px;
  padding: 20px;
  text-align: center;
}
.area-3 .info-content .info2 .titleInfo {
  font-weight: 600;
  margin-top: 3vh;
}
.area-3 .info-content .info2 .paragraphInfo {
  line-height: 1.5rem;
  margin-top: 3vh;
}

aside {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15vh;
}

.area-4 {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10vh;
}
.area-4 .content-4 {
  width: 550px;
  padding: 15px;
  text-align: center;
}
.area-4 .content-4 .titleContent4 {
  font-weight: 600;
}
.area-4 .content-4 .paragraphContent4 {
  margin-top: 3vh;
}
.area-4 .button-area2 {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 5px;
}

footer {
  width: 100%;
  background-color: hsl(0, 0%, 98%);
  padding: 50px;
  display: flex;
  justify-content: space-around;
  margin-top: 10vh;
}
footer img {
  width: 70px;
}
footer .footer-content {
  width: 150px;
  padding: 10px;
}
footer .footer-content .list-footer {
  list-style: none;
  line-height: 1.5rem;
}
footer .footer-content .list-footer a {
  text-decoration: none;
  color: hsl(210, 10%, 33%);
}
footer .footer-content .list-footer a:hover {
  color: hsl(171, 66%, 44%);
}
footer .social-media {
  width: 150px;
  margin-top: 2vh;
}
footer .social-media .links-media {
  display: flex;
  gap: 10px;
  list-style: none;
}
footer .social-media .links-media a {
  text-decoration: none;
  color: black;
}
footer .social-media .links-media a:hover {
  color: hsl(171, 66%, 44%);
}/*# sourceMappingURL=style.css.map */