@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*Todas às medias
- typical device breakpoints
Telas pequenas, até 600px
- celular : 600px à 768px;
- tablet : 768px à 992px;
- desktop : 992px à 1200px
*/

@media print { /*Impressão*/
    *{
        font-family: 'Courier New', Courier, monospace;
    }

    main h1{
        text-shadow: none;
        color: black;
    }

    body{
        background-image: url(../../imagens/back-print.jpg);
    }

    img#phone{display: none;}
    img#tablet{display: none;}
    img#tv{display: none;}
    img#print{display: block;}
    img#pc{display: none;}

}


@media screen and (min-width:768px) and (max-width:992px){
    /*Tablet*/
    body{
        background-image: url(../../imagens/back-tablet.jpg);
    }

    img#phone{display: none;}
    img#tablet{display: block;}
    img#tv{display: none;}
    img#print{display: none;}
    img#pc{display: none;}
}


@media screen and (max-width:992px) and (max-width:1200px){
       /*desktop*/
    body{
        background-image: url(../../imagens/back-pc.jpg);
    }

    img#phone{display: none;}
    img#tablet{display: none;}
    img#tv{display: none;}
    img#print{display: none;}
    img#pc{display: block;}
}


@media screen and (min-width:1200px){
    /*grandes telas*/
    body{
        background-image: url(../../imagens/back-tv.jpg);
    }

    img#phone{display: none;}
    img#tablet{display: none;}
    img#tv{display: block;}
    img#print{display: none;}
    img#pc{display: none;}
}
