@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

$background :hsl(257, 40%, 49%);
$button-font :hsl(257, 40%, 49%);
$hoover:hsl(300, 69%, 71%);
$button:#ffffff;
$font:hsl(0, 0%, 100%);
$secundary:hsl(0, 0%, 100%);

body{
    min-height: 100vh;
    background-color: $background;
    background-image: url(../images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-position: top center ;
}

header{
    padding: 25px;
}

.container{
    width: 100%; 
    padding: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;

    .description{
        padding: 10px;
        width: 325px;
        margin-top: 5vh;
        text-align: center;

        h1{ 
            color: $font;
            font-size: 30px;
            font-weight: 700;
        }

        p{
            margin-top: 3vh;
            color: $font;
            font-weight: 500;
        }

        button{
            margin-top: 3vh;
            width: 200px;
            padding: 10px;
            border-radius: 20px;
            border: none;
            color: $button-font;
            cursor: pointer;
            
            &:hover{
                transition: 0.5s all;
                background-color: $hoover;
                color: $font;
            }
        }
    }
}

footer{
    width: 100%;
    padding: 20px;
    text-align: center;

    a{
        width: 20px;
        padding: 5px;
        border-radius: 50px;
        border: 1px solid white;
        color: white;

        &:hover{
            transition: 0.5s all;
            border: 1px solid $hoover;
            color: $hoover;
            
        }
    }
}

@media screen and (min-width:1200px) {
   body{
      background-image: url(../images/bg-desktop.svg);
   }

   .container{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .img img{
            width: 600px;
        }

        .description{
            width: 500px;
            text-align: start;

            h1{
                font-size: 40px;
            }
        }
   }

   footer{
        width: 100%;
        padding: 20px;
        text-align: right;
   }

}